.footer {
    padding: 80px 0;
    background-color: black;
    margin-top: 50px;
}
.title {
    display: flex;
    align-items: center;
}
.title img {
    width: 15%;
}
.footer-link {
    margin-left: auto;
    display: flex;
    gap: 20px;
}
.detail {
    margin-top: 70px;
    font-size: 16px;
}
.detail span {
    color: var(--primary-color);
}
